*{
    font-family: "Nunito",san-serif;
}
body{
   background-color:aliceblue;
   height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.top{
    padding-left: 50px;
    padding-right: 50px;
    margin: 120px;
}
/* Navbar Styling Start Here */
.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 50px;
    margin-bottom: 200px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    box-shadow: box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;;
    
}
.icon img{
    width: 15rem;
}
.navlinks {
    justify-content: space-around;
    display: flex;
    gap: 5rem;
}
.navlinks a{
    text-decoration: none;
    color: black;
    gap: 1.5rem;
}
.navbutton {
    background-color: teal;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.navbutton a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
/* First Section Styling begin here...... */
.first{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    
}
.text {
    padding: 40px;
    max-width: 50%;
}
.first .text{
    width: 20rem;
}
.text .edition{
    font-size:20px;
}
.text p{
    width: 30rem;
}
.button {
    margin-top: 20px;
}

.button a {
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 20px;
    justify-content: right;
    align-items: right;
}
.grid {
    max-width: 50%;
    margin-left: 150px;
}
.grid img{
    width: 30rem;
    height: 100%;
    border-radius: 10px;
}
/* Second section styling begins */
.container{
    background-color: teal;
    height: 34%;
    width: 90%;
    justify-self: center;
    padding-right: 10rem;
    border-radius: 10px;
}
.head {
    padding-left: 25rem;
    font-family: Arial;
    color: white;
    font-size: 20px;
}
.alphabets {
    display: flex;
    color: white;
    justify-content: space-evenly;
 }
 .rat{
    line-height: 20px;
 }
 .rat a{
     text-decoration: none;
     color: teal;
     colorweight
     font-weight: ;
}
.memo{
    display: flex;
}
.texts{
    width: 30rem;
}
.meto{
    display: flex;
}
.table{
    width: 30rem;
}
.rat h2{
    font-size: 20px;
}
.rat{
    margin-top: 80px;
}
.fourth{
    margin-top: 80px;
}
.fifth{
    margin-top: 80px ;
    margin-left: 20rem;
}
.meta{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal;
    color: white;
    border-radius: 0.5rem;
    margin-left: 12rem;
    font-weight: bolder;
}
.down{
    background-color: white;
}
.last{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.last ul{
    list-style: none;
    text-align: left;
    padding-left: 3px;
}
.last .dummy{
    line-height:  2rem;
}
.last .dummy a{
    text-decoration: none;
    color: black;
}




